In [2]:
!pip freeze | grep scikit-learn

scikit-learn==1.2.2

In [2]:
import pickle
import pandas as pd

In [3]:
with open('model.bin', 'rb') as f_in:
    dv, model = pickle.load(f_in)

In [4]:
categorical = ['PULocationID', 'DOLocationID']

def read_data(filename):
    df = pd.read_parquet(filename)
    
    df['duration'] = df.tpep_dropoff_datetime - df.tpep_pickup_datetime
    df['duration'] = df.duration.dt.total_seconds() / 60

    df = df[(df.duration >= 1) & (df.duration <= 60)].copy()

    df[categorical] = df[categorical].fillna(-1).astype('int').astype('str')
    
    return df

In [10]:
# df = read_data('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_????-??.parquet')
df = read_data('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-02.parquet')
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
0,1,2022-02-01 00:06:58,2022-02-01 00:19:24,1.0,5.40,1.0,N,138,252,1,17.0,1.75,0.5,3.90,0.00,0.3,23.45,0.0,1.25,12.433333
1,1,2022-02-01 00:38:22,2022-02-01 00:55:55,1.0,6.40,1.0,N,138,41,2,21.0,1.75,0.5,0.00,6.55,0.3,30.10,0.0,1.25,17.550000
2,1,2022-02-01 00:03:20,2022-02-01 00:26:59,1.0,12.50,1.0,N,138,200,2,35.5,1.75,0.5,0.00,6.55,0.3,44.60,0.0,1.25,23.650000
3,2,2022-02-01 00:08:00,2022-02-01 00:28:05,1.0,9.88,1.0,N,239,200,2,28.0,0.50,0.5,0.00,3.00,0.3,34.80,2.5,0.00,20.083333
4,2,2022-02-01 00:06:48,2022-02-01 00:33:07,1.0,12.16,1.0,N,138,125,1,35.5,0.50,0.5,8.11,0.00,0.3,48.66,2.5,1.25,26.316667

In [7]:
dicts = df[categorical].to_dict(orient='records')
X_val = dv.transform(dicts)
y_pred = model.predict(X_val)

In [9]:
# Question 1
import numpy as np

np.std(y_pred)

5.28140357655334

In [22]:
year = 2022
month = 2
output_file = f"./output/yellow/{year:04d}-{month:02d}.parquet"

In [24]:
df_result = pd.DataFrame()
df_result['ride_id'] = f'{year:04d}/{month:02d}_' + df.index.astype('str')
df_result['predicted_duration'] = y_pred

In [25]:
df_result

                 ride_id  predicted_duration
0              2022/02_0           18.527783
1              2022/02_1           23.065782
2              2022/02_2           33.686359
3              2022/02_3           23.757436
4              2022/02_4           21.492904
...                  ...                 ...
2918182  2022/02_2979426           12.038225
2918183  2022/02_2979427           11.441569
2918184  2022/02_2979428           11.890459
2918185  2022/02_2979429           15.102681
2918186  2022/02_2979430            9.460592

[2918187 rows x 2 columns]

In [26]:
df_result.to_parquet(
    output_file,
    engine='pyarrow',
    compression=None,
    index=False)

In [1]:
!  ls -la  ./output/yellow

insgesamt 85188
drwxrwxr-x 2 pascal pascal     4096 Jun 25 11:26 .
drwxrwxr-x 3 pascal pascal     4096 Jun 21 22:41 ..
-rw-rw-r-- 1 pascal pascal 27226108 Jun 25 11:29 2021-01.parquet
-rw-rw-r-- 1 pascal pascal 59994935 Jun 21 22:41 2022-02.parquet

Answer: 58M